
// contact.scss
@import 'variables';
@import 'mixins';

body {
  margin: 0;
  font-family: $font-stack;
  background-color: $white;
  color: $black;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

header {
  background-color: $primary-bg;
  padding: 20px;
  text-align: center;
  color: $white;
  @include rounded;
}

.contact-section {
  background-color: $section-bg;
  padding: 30px;
  @include rounded;
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  @include input-style;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: $black;
  color: $white;
  border: none;
  @include rounded(8px);
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: darken($black, 15%);
  }
}
