.projects-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  align-items: center;

}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 50%;
  align-items: center;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: #007bff;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: black;
}
p {
  font-size: 1rem;
  color: black;
  margin-bottom: 1rem;
}